@{
    ViewBag.Title = "Список сотрудников";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>@ViewBag.Title</h2>
    <form>
        <h4>Добавление нового сотрудника</h4>
        <p>
            <input type="text" name="Surname" placeholder="Фамилия">
            <input type="text" name="Name" placeholder="Имя">
            Дата рождения: <input type="date" name="Birth">
            <input type="text" name="Phone" placeholder="Телефон">
            <input type="text" name="Passport" placeholder="Паспорт">
            <select name="Qualification">
                <option>Специальность</option>
                <option>Администратор</option>
                <option>Бармен</option>
                <option>Официант</option>
            </select>
            <input type="submit" value="Добавить">
        </p>
    </form>
    <table class="table">
        <tr>
            <td><p>Фамилия</p></td>
            <td><p>Имя</p></td>
            <td><p>Дата рождения</p></td>
            <td><p>Телефон</p></td>
            <td><p>Паспорт</p></td>
            <td><p>Специальность</p></td>
            <td></td>
        </tr>
        <tr>
            <td><p>Горбачева</p></td>
            <td><p>Ольга</p></td>
            <td><p>18.11.2000</p></td>
            <td><p>89003158860</p></td>
            <td><p>5614253803</p></td>
            <td><p>Официант</p></td>
            <td></td>
        </tr>
        <tr>
            <td><p>Испольнов</p></td>
            <td><p>Кирилл</p></td>
            <td><p>15.11.2000</p></td>
            <td><p>89563214568</p></td>
            <td><p>5416235689</p></td>
            <td><p>Бармен</p></td>
            <td></td>
        </tr>
        <tr>
            <td><p>Цыбарева</p></td>
            <td><p>Кристина</p></td>
            <td><p>23.03.1993</p></td>
            <td><p>89436758904</p></td>
            <td><p>5513236457</p></td>
            <td><p>Администратор</p></td>
            <td></td>
        </tr>
    </table>
</div>