@{
    ViewBag.Title = "Расчет заработной платы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>@ViewBag.Title</h2>
    <form class="form-control-static">
        <p>
            <select name="Employee">
                <option>Сотрудник</option>
                <option>Горбачева Ольга</option>
                <option>Испольнов Кирилл</option>
                <option>Цыбарева Кристина</option>
            </select>
            Время начала работы: <input type="datetime" name="StartTime">
            Время окончания работы: <input type="datetime" name="EndTime">
            <input type="submit" value="Рассчитать">
        </p>
        <p>
            Отработано за период: 10 часов, к оплате: 800 рублей
        </p>
    </form>
</div>