﻿@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Добро пожаловать в систему управления сотрудниками!</h1>
    <p class="lead">Данное приложение разработано с целью упростить учет рабочего времени и расчет заработной платы
        сотрудников вашего предприятия</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Таблица сотрудников</h2>
        <p>В любое время вы имеете доступ к данным о сотрудниках</p>
    </div>
    <div class="col-md-4">
        <h2>Наименование специальностей</h2>
        <p>Добавляйте, редактируйте, удаляйте специальности, профессии и квалификации в зависимости от структуры Вашего предприятия</p>
    </div>
    <div class="col-md-4">
        <h2>Расчет заработной платы</h2>
        <p>Вносите параметры расчета заработной платы - мы посчитаем за пару секунд!</p>
    </div>
</div>