@model CafeEmployees.Models.WorkingProcessModel

@{
    ViewBag.Title = "Таблица рабочего времени";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>@ViewBag.Title</h2>
    <form class="form-control-static">
        <h4>Добавление новой позиции</h4>
        <p>
            <select name="Employee">
                <option>Сотрудник</option>
                <option>Горбачева Ольга</option>
                <option>Испольнов Кирилл</option>
                <option>Цыбарева Кристина</option>
            </select>
            Время начала работы: <input type="datetime" name="StartTime">
            Время окончания работы: <input type="datetime" name="EndTime">
            <input type="submit" value="Добавить">
        </p>
    </form>
    <table class="table">
        <tr>
            <td><p>Сотрудник</p></td>
            <td><p>Время начала работы</p></td>
            <td><p>Время окончания работы</p></td>
        </tr>
        <tr>
            <td><p>Испольнов Кирилл</p></td>
            <td><p>09.11.2019 09:00</p></td>
            <td><p>09.11.2019 20:00</p></td>
        </tr>
        <tr>
            <td><p>Горбачева Ольга</p></td>
            <td><p>12.11.2019 12:00</p></td>
            <td><p>12.11.2019 22:00</p></td>
        </tr>
        <tr>
            <td><p>Цыбарева Кристина</p></td>
            <td><p>10.11.2019 17:00</p></td>
            <td><p>11.11.2019 02:00</p></td>
        </tr>
    </table>
</div>