@model CafeEmployees.Models.QualificationModel
@{
    ViewBag.Title = "Таблица специальностей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Таблица специальностей</h2>
    <form class="form-control-static">
        <h4>Добавление новой специальности</h4>
        <p>
            <input type="text" name="Name" placeholder="Наименование" style="width: 210px;">
            <input type="number" name="Salary" placeholder="Размер почасовой оплаты" style="width: 210px;">
            <input type="submit" value="Добавить">
        </p>
    </form>
    <table class="table">
        <tr>
            <td><p>Наименование</p></td>
            <td><p>Размер почасовой оплаты (руб/час)</p></td>
            <td></td>
        </tr>
        <tr>
            <td><p>Администратор</p></td>
            <td><p>120</p></td>
            <td></td>
        </tr>
        <tr>
            <td><p>Бармен</p></td>
            <td><p>100</p></td>
            <td></td>
        </tr>
        <tr>
            <td><p>Официант</p></td>
            <td><p>80</p></td>
            <td></td>
        </tr>
    </table>
</div>